/* styles/base.css */
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html, body {
    font-family: "Smiley Sans", "Noto Sans", "Microsoft YaHei", "Helvetica", "Arial", sans-serif;
    
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(100, 126, 105);
    margin: 0;
    padding: 0;
}

button,
input,
textarea {
    -webkit-tap-highlight-color: transparent; /* 去除蓝色点击高亮 */
    outline: none;                            /* 去除点击后的轮廓 */
}

img {
    display: block;
    max-width: 100%;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    outline: none;
}

button:focus {
    outline: none;
}

.hidden {
  display: none !important;
}