@font-face {
    font-family: "qiji";
    src: url("../fonts/qiji-subset.woff2") format("woff2");
    font-display: block; /* 在字体加载完成前不显示内容 之前使用swap*/ 
}

@font-face {
    font-family: "ipix";
    src: url("../fonts/ipix_12px.woff2") format("woff2"),
         url("../fonts/ipix_12px.ttf") format("truetype");
    font-display: block;
}

@font-face {
    font-family: "Muyao";
    src: url("../fonts/Muyao-Softbrush-subset.woff2") format("woff2");
    font-display: block;
}